<p id="notice"><%= notice %></p>

<p>
  <strong>Choice:</strong>
  <%= @question_choice.choice %>
</p>

<p>
  <strong>Voter:</strong>
  <%= @question_choice.voter %>
</p>

<p>
  <strong>Candidate:</strong>
  <%= @question_choice.candidate %>
</p>

<p>
  <strong>Question:</strong>
  <%= @question_choice.question %>
</p>

<p>
  <strong>Choice source url:</strong>
  <%= @question_choice.choice_source_url %>
</p>

<%= link_to 'Edit', edit_question_choice_path(@question_choice) %> |
<%= link_to 'Back', question_choices_path %>
