<%= form_for(term) do |f| %>
  <% if term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(term.errors.count, "error") %> prohibited this term from being saved:</h2>

      <ul>
      <% term.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position_title %>
    <%= f.text_field :position_title %>
  </div>

  <div class="field">
    <%= f.label :termStart %>
    <%= f.text_field :termStart %>
  </div>

  <div class="field">
    <%= f.label :termEnd %>
    <%= f.text_field :termEnd %>
  </div>

  <div class="field">
    <%= f.label :candidate_id %>
    <%= f.text_field :candidate_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
