<%= form_for(referenda) do |f| %>
  <% if referenda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(referenda.errors.count, "error") %> prohibited this referenda from being saved:</h2>

      <ul>
      <% referenda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :referenda_title %>
    <%= f.text_field :referenda_title %>
  </div>

  <div class="field">
    <%= f.label :referenda_desc %>
    <%= f.text_field :referenda_desc %>
  </div>

  <div class="field">
    <%= f.label :referenda_type %>
    <%= f.text_field :referenda_type %>
  </div>

  <div class="field">
    <%= f.label :ballot_id %>
    <%= f.text_field :ballot_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
