<h1>What is myVote?</h1>
<p>
    <strong>Election season is upon us.</strong>
    Don't know who to vote for? Don't know what the issues are?</p>
<p>
    <strong>myVote</strong>
    serves as a way to to get all those answers in one place. Review the
    <%= link_to "candidates", candidates_path %>,
    <%= link_to "judges", judges_path %>,
    <%= link_to "issues", issues_path %>, and
    <%= link_to "bonds", bonds_path %>,
    for your area, and use our
    <%= link_to "completely anonymous matching tool", match_path %>
    to find the candidate that supports the issues you care about.
    <strong>No registration required.</strong>
</p>
