<%= form_for(candidate) do |f| %>
  <% if candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :isEncumbent %>
    <%= f.check_box :isEncumbent %>
  </div>

  <div class="field">
    <%= f.label :biography %>
    <%= f.text_field :biography %>
  </div>

  <div class="field">
    <%= f.label :precinct_id %>
    <%= f.text_field :precinct_id %>
  </div>

  <div class="field">
    <%= f.label :ballot_id %>
    <%= f.text_field :ballot_id %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :pol_URL %>
    <%= f.text_field :pol_URL %>
  </div>

  <div class="field">
    <%= f.label :pol_aff %>
    <%= f.text_field :pol_aff %>
  </div>

  <div class="field">
    <%= f.label :hasPicture %>
    <%= f.check_box :hasPicture %>
  </div>

  <div class="field">
    <%= f.label :running_for %>
    <%= f.text_field :running_for %>
  </div>

  <div class="field">
    <%= f.label :office_type %>
    <%= f.text_field :office_type %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
