<p id="notice"><%= notice %></p>

<h1>Stances</h1>

<table>
  <thead>
    <tr>
      <th>Stance</th>
      <th>Stance source url</th>
      <th>Referenda</th>
      <th>Candidate</th>
      <th>Voter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stances.each do |stance| %>
      <tr>
        <td><%= stance.stance %></td>
        <td><%= stance.stance_source_url %></td>
        <td><%= stance.referenda %></td>
        <td><%= stance.candidate %></td>
        <td><%= stance.voter %></td>
        <td><%= link_to 'Show', stance %></td>
        <td><%= link_to 'Edit', edit_stance_path(stance) %></td>
        <td><%= link_to 'Destroy', stance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stance', new_stance_path %>
